.link {
  text-decoration: none;
  margin: 0 10px;
  padding-bottom: 5px;
  font-size: 20px;
  color: rgba(68, 62, 62, 0.753);
  transition: color ease-in-out 300ms;
  background-color: transparent;
}

.link:hover {
  color: #74b9ff;
}

.active-link {
  text-decoration: none;
  margin: 0 10px;
  padding-bottom: 5px;
  font-size: 20px;
  transition: color ease-in-out 300ms;
  color: #74b9ff;
  background-color: transparent;
  border-top: 1px solid;
  border-bottom: 1px solid;
}
ul{
  background-image: linear-gradient(to right, #fff1eb86 0%, #ace1f973 100%);
}
